package-lock.json
/docs/
/abi/
/contracts-exposed/
*.log*
/cache/
/artifacts/
/typechain/
/typechain-types/
/types/
/scripts/
/ignition/
/out/
/cache_forge/
/lib/
/coverage/
/coverage.json
gas-report.*
/.openzeppelin/
/dist/
